<style>
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
</style>

body {
    font-family: 'Spectral', serif;
    text-align: center;
    background-color: rgb(217, 217, 217);
}

/* navbar styling! */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #C8E8FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* dropdown things! */
div.title {
    float: left;
    font-size: 20px;
    color: #C8E8FF;
    text-align: center;
    padding: 11.22px 21px;
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #C8E8FF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #C8E8FF;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #C8E8FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #C8E8FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* page styling */
 
div.heading {
    font-family: 'Raleway', sans-serif;   
    font-weight: 300;
    font-size: 40px;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 10px #59b9ff;
    text-decoration: none; 
    margin: 0 auto;
    position: relative;
    text-align: center;
}

div.description {
    font-family: 'Raleway', sans-serif;   
    font-weight: 200;
    font-size: 20px;
    text-decoration: none; 
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 75%;
}
div.description1 {
    font-family: 'Raleway', sans-serif;   
    font-weight: 200;
    font-size: 23px;
    text-decoration: none; 
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: #C8E8FF;
    padding: 15px;
}
div.note {
    font-family: 'Raleway', sans-serif;   
    font-weight: 200;
    font-size: 15px;
    text-decoration: none; 
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #C8E8FF;
    padding: 15px;
}
div.subtitle {
    font-family: 'Raleway', sans-serif;   
    font-weight: 300;
    font-size: 30px;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 10px #59b9ff;
    text-decoration: none; 
    margin: 0 auto;
    position: relative;
    text-align: center;
}
/* form styling */
table {
    width: 100%;
}
td.form {
    width: 40%;
}
td.graph {
    width: 60%;
}
#form {
    text-align: center;
    overflow: auto;
}
label {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}
input {
    text-align: center;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
input[type \= "submit"] {
    background-color: black;
}
input:focus {
    background-color: #C8E8FF;
}
#eq, #type, #numrect{
    width: 80%;
}
#lowerbound, #upperbound {
    width: 40%;
}
select {
/*    width: 30%;*/
    text-align-last: center;
    text-align: center;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* chart styling */
/*
#graph-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    float: right;
    
}
*/
/* slider */

.slider {
  -webkit-appearance: none;
  height: 25px;
  width: 70%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4cb4ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/* other styling */
table.math {
    width: 60%;
    position: absolute;
    left: 20%;
/*    transform: translate(-50%, -50%)*/
}
td.math {
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 6px 10px;
    margin: 8px 0;
    text-align: center;
}
#math {
    text-align: center;
    font-size: 25px;
}
/* Tooltip container 
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

/* Tooltip text 
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
width: 40%;
  top: 100%;
    left: -100%;
    width: 400px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
)
*/

a, a:active {
    color: black;
}
.animation {
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    width: 80%;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
}